/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&family=Rubik+Puddles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dokdo&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  margin-top:                                                                                  em; /* Adiciona espaço entre o body e o header */
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 8em;
  background-color: #ffd5dc;
<<<<<<< HEAD
  color: white;
=======
  color: #b17777;
>>>>>>> 4831268 (lab 10 quase completo)
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding-bottom: 0em;
}

<<<<<<< HEAD
header ul {
  justify-content: right;
}

header h1 {
  font-size: 2em;
=======
header h1{
  font-family: 'Freckle Face', cursive;
  font-size: 3.5em;
  margin-left: 45%;
>>>>>>> 4831268 (lab 10 quase completo)
}

body h2 {
  font-size: 1.5em;
  padding-top: 7em;
  padding-bottom: 1em;
  text-align: center;
  font-weight: bold;
  color: black;
}

nav ul {
  text-align: center;  
  list-style: none;
  padding: 1em;
  display: flex;

}

nav ul li a {
  padding-right: 1em;
  text-align: center;
<<<<<<< HEAD
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
=======
  color: #b17777;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
>>>>>>> 4831268 (lab 10 quase completo)
}

main {
  padding: 2em;
}

#allProducts, #selecionados {
  display: flex;
  flex-wrap: wrap;
<<<<<<< HEAD
  gap: 20px;
=======
  gap: 35px;
>>>>>>> 4831268 (lab 10 quase completo)
}

.produto {
  background-color: white;
  margin-top: 2em;
  border: 1px solid #ffd5dc;
  border-radius: 12px; /* Borda mais arredondada */
  padding: 15px; /* Mais espaço interno */
  width: 250px; /* Aumenta a largura para melhor visualização */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidade */
  transition: transform 0.3s, box-shadow 0.3s; /* Transição suave */
}

.produto:hover {
  transform: translateY(-5px); /* Elevação ao passar o mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra mais forte ao passar o mouse */
}

.produto img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Borda arredondada para a imagem */
  margin-bottom: 10px; /* Espaço entre a imagem e o texto */
}

.produto__price {
  display: block;
  margin-top: 10px;
  font-weight: bold;
<<<<<<< HEAD
  color: #ffd5dc; 
=======
  color: #b17777; 
>>>>>>> 4831268 (lab 10 quase completo)
  font-size: 1.2em; 
}
.produto h3 {
  font-weight: bold; 
  font-size: 1.2em; 
  margin-bottom: 10px; 
}

.produto__description {
  background-color: #f9f9f9; 
  border-radius: 4px;
  padding: 15px;
  margin-top: 10px;
  text-align: justify;
  color: #333; 
  font-size: 0.9em; 
  line-height: 1.5; 
  margin-bottom: 1em;
}

button {
  padding: 8px 14px; 
  border: none;
  border-radius: 4px;
  background-color: #ffd5dc;
  color: #333; 
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #6200ff;
  color: white; 
  transform: scale(1.05); 
}


footer {
  text-align: center;
  background-color: #ffd5dc;
<<<<<<< HEAD
  color: white;
  padding: 2.6em;
  margin-top: 2em;
  list-style: none;
=======
  color: #b17777;
  padding: 2.6em;
  margin-top: 2em;
  list-style: none;
  font-size: 1.5em;
}

footer p {
  padding-bottom: 1em;
  text-decoration: none;
  
>>>>>>> 4831268 (lab 10 quase completo)
}

#custoTotal {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1.5em;
  text-align: center;
  color: white;
  margin-bottom: 1.5em;
}

#cesto h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 2em;
  margin-top: -3em;
}

#cesto {
  background-color: #ffd5dc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-left: -2em;
  margin-right: -2em;
<<<<<<< HEAD
=======
}


#pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-left: -2em;
  margin-right: -2em;
  gap: 1em;
  background-color: #ffe4e9;
  padding: 2em 0em 2em 0em;
  color: #b17777;
  border-radius: 50%;
}

#checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  margin-left: -2em;
  margin-right: -2em;
  gap: 1em;
  background-color: #ffe4e9;
  padding: 2em 2em 2em 2em;
  color: #b17777;
  border-radius: 90%;
  margin-bottom: 3em;
>>>>>>> 4831268 (lab 10 quase completo)
}