header {
    height: fit-content;
    color: #7700ff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Freckle Face", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;  
  }

  h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: #7700ff;
  }