body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 15px;
    margin-bottom: 30px; 
}

nav a {
    color: #b0b0b0;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    background-color: #7700ff;
    color: white;
}

h1 {
    color: #7700ff;
    text-transform: uppercase;
}

h2 {
    color: #7700ff;
}

footer {
    background-color: #7700ff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

#poema {
    background-color: #2c2c2c;
    padding: 20px; 
    margin: 20px 0; 
    line-height: 1.6; 
    color: #e0e0e0; 
}

#poema h3 {
    text-align: center; 
    color: #721ee0; 
    font-size: 24px;
    margin-bottom: 15px; 
}

#fotografias h3, #video h3, #poema h3 {
    color: #721ee0;
    font-size: 24px;
    border-bottom: 2px solid #721ee0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

label {
    font-size: small;
}

input {
    font-size: medium;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

footer p {
    margin: 0 0;
}

main {
    padding: 20px;
    background-color: #1c1c1c;
}

h2 {
    font-size: 28px;
    color: #7700ff;
    margin-bottom: 15px;
}

section {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #7700ff;
}

section h3 {
    font-size: 22px;
    color: #7700ff;
    margin-bottom: 10px;
}

section ul,
section ol {
    padding-left: 20px;
    list-style-type: none; 
}

section ul li,
section ol li {
    margin-bottom: 8px;
    color: #e0e0e0;
    position: relative;
    padding-left: 20px;
    font-size: 200%; 
}

section ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #721ee0; /* Cor dos pontos alterada para #721ee0 */
    border-radius: 50%;
}

.numeros-romanos {
    list-style-type: upper-roman;
    padding-left: 20px;
}

#tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tabela th, #tabela td {
    border: 1px solid #7700ff;
    padding: 10px;
    text-align: center;
    color: #e0e0e0;
}

#tabela th {
    background-color: #7700ff;
    color: white;
}

#tabela tr:nth-child(odd) {
    background-color: #2c2c2c;
}

#tabela tr:nth-child(even) {
    background-color: #1c1c1c;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

article {
    margin-bottom: 20px;
}

article h3 {
    color: #7700ff;
    font-size: 20px;
    margin-bottom: 10px;
}

article p {
    line-height: 1.8;
    color: #e0e0e0;
}


