@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&family=Rubik+Puddles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dokdo&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 10px;
}

header {
    height: 40em;
    background-image: url("/lab3/images/shibuya.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.main-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-color: #121212;
}

nav a {
    padding: 1.5em;
    font-size: large;
    text-decoration: none;
    color: #b0b0b0;
    transition: color 0.3s, background-color 0.3s;
}

nav a:hover {
    background-color: #7700ff;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #7700ff;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
    padding: 2em;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    font-family: "Freckle Face", system-ui;
    text-align: center;
    padding: 0.5em;
    font-size: 1.2em;
    background-color: #796c9e;
    color: #ffffff;
}

@media (min-width: 768px) {
    body {
        grid-template-columns: 1fr 3fr;
    }

    .main-nav {
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
    }

    nav a {
        padding: 1em;
        text-align: center;
        display: block;
        width: 100%;
    }
}
